@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.big-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.navbar-link{
    display: flex;
    
}
.nav-item{
  list-style: none;
  margin: 30px;  
  
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}